# Ghostmail System Environments 
SMTP_PORT=2525
MONGODB_URI=mongodb://localhost:27017/ghostmail
KEY_FILE_PATH=/path/to/key/file.pem
CERT_FILE_PATH=/path/to/cert/file.pem
VITE_SMTP_HOST=smtp.ghostmail.dev
VITE_SMTP_PORT=587
VITE_MAIL_DOMAIN=ghostmail.dev